<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Caveat+Brush&display=swap" rel="stylesheet">
<div class="title">
  <img src="../assets/nube-colores.jpg" alt="">
  <a class="logo" href="/"><p>BUSCO EMPLEO</p></a>
</div>
<div class="options">
  <a class="op1" href="/empleos"><p >EMPLEOS</p></a>
  <a class="op2" href="/reclutador"><p>RECLUTADOR</p></a>
</div>
<router-outlet></router-outlet>
