<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200;500&display=swap" rel="stylesheet">
<div class="container">
  <div class="empleos">
    <h1>EMPLEOS</h1>
    <div class="img1">
      <img src="../../../assets/vacantes-de-empleo-e1567710817562.jpg" alt="">
    </div>
    <p>En este sitio encontraras el empleo soñado.</p>
    <div class="bot1">
      <button>BUSCAR</button>
    </div>
  </div>
  <div class="reclutador">
    <h1>SISTEMA RECLUTADOR</h1>
    <div class="img2">
      <img src="../../../assets/empresa.png" alt="">
    </div>
    <p>En este sitio podras crar nuevos trabajos segun tus necesidades y ver a quienes les interesa trabajar contigo.</p>
    <div class="bot2">
      <button>CREAR</button>
    </div>
  </div>
</div>
